# Application
backend/src/web/app/plugins/*
!backend/src/web/app/plugins/.gitkeep
backend/src/web/app/mu-plugins/*/
backend/src/web/app/upgrade
backend/src/web/app/uploads/*
!backend/src/web/app/uploads/.gitkeep

# WordPress
backend/src/web/wp
backend/src/web/.htaccess

# WP-CLI
db-sync
sql-dump-*.sql

# Dotenv
.env
.env.*
!.env.example

# Vendor (e.g. Composer)
backend/src/vendor/*
!backend/src/vendor/.gitkeep

# Database volume
backend/db

# Node Package Manager
node_modules

# Certs
certs/

# Logs
logs/

# Vagrant
bin
.vagrant

# Custom
.DS_Store
server